@font-face {
  font-family: 'BrandonText';
  src:  url('./BrandonText-Regular.otf') format('opentype');
}

body {
  font-family: 'BrandonText';
}

.review {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: solid 1px #d8d9db;
  color: #2d333f;
}

.review-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1rem;
  margin-left: 1rem;
  width: 6rem;
  position: relative;
  flex: none;
}

.user-box {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.user-circle {
  background: #6c8ae4;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-initials {
  color: #ffffff;
  font-weight: 500;
  text-transform: capitalize;
}

.user-name {
  font-weight: 500;
  font-size: 0.875rem;
  margin-bottom: 0.25rem;
  text-align: center;
  word-break: break-word;
  color: #2d333f;
}

.user-vip {
  text-transform: uppercase;
  position: absolute;
  background-color: #fdaf08;
  padding: 2px 0.5rem;
  font-size: 12px;
  border-radius: 1rem;
  font-weight: 700;
  top: -2px;
  color: #fff;
  left: 0;
}

.user-city {
  font-size: 0.875rem;
  font-weight: 500;
  text-align: center;
  line-height: 1.43;
  color: #6f737b;
  margin-bottom: 0.5rem;
}

.user-num-reviews {
  color: #6f737b;
  display: flex;
  flex-direction: row;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.43;
  flex: none;
  white-space: nowrap;
}

.msg-icon {
  /* background-image: url('./message-icon.png'); */
  display: inline-block;
  position: relative;
  height: 12px;
  width: 12px;
  flex: none;
  margin-right: 0.25rem;
  margin-top: 0.15rem;
}

.review-details {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.review-header {
  display: flex;
  position: relative;
  flex-direction: column;
}

.review-pre-ratings {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.review-stars {
  font-size: 1.5rem;
  font-weight: 500;
  color: #d8d9db;
}

.review-date {
  font-size: 0.875rem;
  line-height: 1.43;
  margin: 0 0.25rem;
}

.review-ratings {
  /* display: flex;
  flex-direction: row; */
  max-width: 992px;
  margin-top: 0.5rem;
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 1.43;
}

.review-numbers {
  color: #da3743;
}

.review-comments {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  line-height: 1.5;
  font-size: 1rem;
  font-weight: normal;
}